body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
}

/* Define overall page styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0055A4;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
h2{
 background-color: #0055A4;
    color: #fff;
    text-align:center;	
	}

header h1 {
    font-size: 36px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Style the event list */
.event-list {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}




footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
nav {
    				background-color: #333;
    				color: #FFF;
    				text-align: center;
    				padding: 20px 0;
  					}
  			nav a {
    				color: #FFF;
    				text-decoration: none;
    				margin: 0 10px;
					}
	#events {
    padding: 40px 0;
    background-color: #fff;
    text-align: center;
}

.event {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.event h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.event p {
    font-size: 16px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #003366;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}

